* {
  font-family: "Maven Pro", "Arial Narrow", Arial, sans-serif;
}

.btn {
  @apply bg-yellow px-4 h-full py-1 rounded-full font-bold opacity-100 hover:bg-opacity-90 transition-all;
}

body {
  min-height: 100dvh;
  background: linear-gradient(129deg, rgba(207, 219, 213, 1) 4%, #f5cb5c 100%);
}

* {
  color: #333533;
}
